body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:red;
    background-image: url('bg.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
img {
    height: 175px;
    width: 125px;
    margin: 1px;
}
button {
    width: 70px;
    height: 50px;
    font-size: 15px;
}
.consumedCards{   
}

section{
    display:flex;
    align-items: center;
}
#topSection{
    justify-content: space-between;
}
#middleSection{
    display:flex;
    align-items: center;
    justify-content:center;
}
#bottomSection{
    justify-content: space-between;
}
#mainDiv{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playable.selected {
    box-shadow: 0 0 10px 5px #c6093f; /* Neon-like glow */
  }